---
import type { GetStaticPaths } from "astro";
import DefaultLayout from "../../layouts/DefaultLayout.astro";
/* export async function getStaticPaths () {
    const res = await fetch('http://localhost:3000/posts');
    const posts = await res.json();

    return posts.map(post =>{
        return {
            params: {id: post.id}
        }
    })

}; */

const {id} = Astro.params;

const res = await fetch(`http://localhost:3000/posts/${id}`);
const { title, description, content, created_at} = await res.json();

export const prerender = false;
---
<DefaultLayout>
    <div class="max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-auto mt-5">
        <article>
            <img class="rounded-t-lg" src="https://images.unsplash.com/photo-1682687219612-b12805df750d?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{title}</h5>
                </a>       
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-200">{description}</p>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{content}</p>
                <p class="mb-3 text-xs text-gray-700 dark:text-gray-500">{new Date(created_at).toLocaleDateString()} - 16 min read</p>
            </div>
        </article>
    </div>
</DefaultLayout>